// bower:scss
// endbower

$dark-accent: #2B3E50;
$light-accent: #fff;

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

$break-xs: 600px;
$break-sm: 960px;
$break-md: 1280px;
$break-lg: 1920px;

@mixin bp($media) {
  @if $media == xs {
    @media only screen and (max-width:  #{ $break-xs - 1px }) { @content; }
  }
  @else if $media == gt-xs {
    @media only screen and (min-width: $break-xs) { @content; }
  }
  @if $media == sm {
    @media only screen and (max-width:  #{ $break-sm - 1px }) and (min-width:  #{ $break-xs}) { @content; }
  }
  @else if $media == gt-sm {
    @media only screen and (min-width: $break-sm) { @content; }
  }
  @if $media == md {
    @media only screen and (max-width:  #{ $break-md - 1px }) and (min-width:  #{ $break-sm}) { @content; }
  }
  @else if $media == gt-md {
    @media only screen and (min-width: $break-md) { @content; }
  }
  @if $media == lg {
    @media only screen and (max-width:  #{ $break-lg - 1px }) and (min-width:  #{ $break-md}) { @content; }
  }
  @else if $media == gt-lg {
    @media only screen and (min-width: $break-lg) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $break-lg) { @content; }
  }

}


body {
  padding: 0;
  overflow: hidden;
}

.container-fluid {
  margin: 0;
  padding:0;
}

.ng-hide-remove {
  @include transition(opacity,0.3s,ease-out);
}

.ng-hide-add {
  @include transition(opacity,0.3s,ease-out);
}


/* PAGE ANIMATION */
.page        {
    bottom:0;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.6); }
}

.page.ng-enter           { animation: scaleUp 0.8s both ease-out; z-index: 8888; }
.page.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }


.rotate-180 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.animate {
  -webkit-transition: all ease-in-out .5s;
  transition:all ease-in-out .5s;
}

.expand {
  overflow: hidden;
  -webkit-transition: all ease-in-out .5s;
  transition:all ease-in-out .5s;
  max-height: 500px;
  opacity: 1;
  &.ng-hide {
      max-height: 0px;
      opacity: 0;
  }
}


/* HOME VIEW */

.md-select-menu-container {
  z-index: 99;
}

.main-page {

  .abs {
    position: absolute;
    top: 0;
  }

  .bg-image {
    position: absolute;
    top: 0;
    @include transition(opacity,0.5s,ease);
  }

  .timer-progress {
    bottom: 0;
    z-index: 10;
    position: absolute;
  }

  .github-link {
    position: absolute;
    top: 4rem;
    right: 5rem;
    img {
      width: 35px;
    }
  }

  section {
    @include transition(all,0.5s, ease);
  }

  .logo img{
    max-width: 400px;
    @include bp(xs) {
      max-width: 60%;
    }
  }

  h1 {
    font-weight: 100;
    @include bp(xs) {
     font-size: 1.5rem;
     md-select {
      margin-top: 0;
     }
    }
  }

  .dark {
    background: rgba(43,62,80,0.65);
    color: $light-accent;
  }

  .nobg {
    background: transparent;
    color: $light-accent;
  }

  .ghostbutton {
      background: none;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 3px;
      font-weight: 800;
      color: #fff;
      display: inline-block;
      padding: 1rem;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
        color: $dark-accent;
        background: $light-accent;
      }
    }
}


// needs to be outside of .map-page due to dom load lag
#map {
 height: 100%;

 @include transition(margin, .4s, ease);
}

.fs-wrapper .fs-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.md-sidenav-backdrop {
    display: none !important;
}

#overlay-legend {
    @include transition(margin,.3s,ease);
    position:  absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    z-index: 20;
    r360-rainbow, .progress-box  {
      width: 420px;
      z-index: 20;
    }

  }

.map-page {

  .overlay-controls {
    position: absolute;
    top: 2rem;
    left: 2rem;
    @include bp(xs) {
      top: .5rem;
      left: .5rem;
    }
    margin:0;
    padding:0;
  }

  .overlay-speeddials {
    position: absolute;
    top: 2rem;
    right: 2rem;
    margin:0;
    padding:0;
    @include bp(xs) {
      top: .5rem;
      right: .5rem;
    }
    button span {
      text-transform: none;
    }

  }

  .overlay-init {
    z-index: 9999999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:0;
    padding:0;
    background: #fff;
    md-progress-linear {
      width: 300px;
    }
  }

  .overlay-logo {
    z-index: 20;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    width: 250px;
  }

  md-sidenav,
  md-sidenav.md-locked-open,
  md-sidenav.md-closed.md-locked-open-add-active {
    // z-index: 1001;
    text-align: left;
    min-width: 450px !important;
    width: 450px !important;
    max-width: 450px !important;
    @include bp(xs) {
      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;
    }
    overflow-x: hidden;
    md-content {
      overflow-x: hidden;
    }
  }

  md-list-item,md-divider {
    @include transition(all, 0.3s, ease);
    &.ng-hide-add,&.ng-hide-remove {
    transition: all 0.5s ease;
    }
    &.ng-hide {
      opacity: 0;
    }
  }

  .hoverable {
    cursor: pointer;
    @include transition(background, 0.3s, ease);
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
    &:hover, .active {
      background: rgba(0,0,0,0.3);
    }
  }

  .progress-box {
    display: inline-block;
    background: #fff;
    text-align: center;
    @include bp(xs) {
      min-width: 95%;
      width: 95%;
      max-width: 95%;
    }
    margin-bottom: .5rem;
    p {
      margin: .3rem 0;
      padding: 0;
    }
  }

  r360-rainbow{
    min-width: 380px;
    @include bp(xs) {
      min-width: 95%;
      width: 95%;
      max-width: 95%;
    }
    md-whiteframe {
      padding: 0;
      label {
        display: inline-block;
        font-size: 13px;
        margin: 0;
        padding: 0.5rem 0;
        text-align: center;
        color: rgba(255,255,255,0.8);
      }
    }
  }


  .r360-autocomplete {
    li {
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
      white-space: normal;
    }
    span {
      display: block;
      line-height: 2;
    }
  }

  .leaflet-top, .leaflet-bottom {
      z-index: 20;
  }
}


@import "variables";
@import "travelPlan";