<!-- <a class="github-link" title="r360 on GitHub" href="https://github.com/route360/r360-js">
    <img src="images/github.svg" alt="r360 on GitHub">
</a> -->

<div ng-repeat="key in cities" class="bg-image" layout-fill layout="row" style="background: url('{{key.url}}') center center; background-size: cover; z-index:{{(key.id == city) && 10 || 1}}; opacity: {{(key.id == city) && 1 || 0}}">
</div>

<div class="abs dark" layout-fill layout="row" layout-align="center center" style="z-index: 99">

  <md-content class="nobg" layout="column" flex>

    <section class="logo" layout-align="center center">
      <img class="logo" src="images/r360.svg" alt="Route 360">
    </section>

    <section layout="column" layout-align="center center">

      <h1 flex layout="row" layout-align="center center" class="md-display-1">
        <span>Route 360° is currently available for </span>
        <md-select style="margin-left: 0.5rem" ng-model="city"  aria-label="City Select" ng-click="stopTheTimers()">
                <md-option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</md-option>
        </md-select>
      </h1>

      <a layout="row" class="ghostbutton" href="./#/map?cityID={{city}}">Launch Demo</a>

    </section>

  </md-content>

</div>

<md-progress-linear class="timer-progress md-hue-1" md-mode="{{mode}}" value="{{timer}}"></md-progress-linear>