<div id="home">
  <a class="github-link" title="r360 on GitHub" href="https://github.com/route360/r360-js">
    <img src="images/github.svg" alt="r360 on GitHub">
  </a>
  <div class="logo-wrapper">
    <img class="logo" src="images/r360.svg" alt="I'm Yeoman">
  </div>
  <div class="page-caption">
    <h1>Route 360° is available for the following locations</h1>
    <h4>Choose a location and launch the demo app</h4>
  </div>
  <div class="city-grid">
    <a href="#map/?city=2" class="city-cell">
      <img src="images/paris.jpg" alt="Paris">
      <h3 class="caption">Paris</h3>
      <div class="overlay">
         <span>LAUNCH APP</span>
      </div>
    </a>
    <a href="#map/?city=1" class="city-cell">
      <img src="images/oslo.jpg" alt="Oslo">
      <h3 class="caption">Oslo</h3>
      <div class="overlay">
         <span>LAUNCH APP</span>
      </div>
    </a>
    <a href="#map/?city=0" class="city-cell">
      <img src="images/berlin.jpg" alt="Berlin">
      <h3 class="caption">Berlin</h3>
      <div class="overlay">
         <span>LAUNCH APP</span>
      </div>
    </a>
    <a href="#map/?city=3" class="city-cell">
      <img src="images/vancouver.jpg" alt="Vancouver">
      <h3 class="caption">Vancouver</h3>
      <div class="overlay">
         <span>LAUNCH APP</span>
      </div>
    </a>
    <a href="#map/?city=5" class="city-cell">
      <img src="images/london.jpg" alt="London">
      <h3 class="caption">London</h3>
      <div class="overlay">
         <span>LAUNCH APP</span>
      </div>
    </a>
  </div>
</div>